<section class="header-home">
  <div
    class="container py-5 container-md container-lg container-xl container-xxl"
  >
    <div class="row justify-content-center align-items-center">
      <div class="col-md-6">
        <h1 class="fs-1 text-white">Welcome to GeekyAir!</h1>
        <div class="d-flex">
          <div class="cycle-wrapper py-3">
            <h3 class="rw-sentence">
              <div class="rw-words rw-words-1 weoffer">
                <span> We Offer No-code/Low-code services</span>
                <span> We Offer Creation of responsive websites</span>
                <span> We Offer SmartSuite Implementation</span>
                <span> We Offer Scripting</span>
                <span> We Offer UI/UX Graphic Designing</span>
                <span> We Offer OpenPhone Implementation</span>
              </div>
            </h3>
          </div>
        </div>

        <a (click)="scrollintView()">
          <button class="btn-Our-services mx-2 mt-5">OUR SERVICES</button>
        </a>
      </div>

      <div class="col-md-6 displayblock animate__animated animate__bounce">
        <img
          ngSrc="../../assets/Images/home.png"
          width="500"
          height="500"
          alt="GeekyAir"
        />
      </div>
    </div>
  </div>
</section>
<section class="py-5">
  <h1 class="text-center title-blue py-4">Proudly Certified By:</h1>
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center">
      <div
        class="imgg col-md-3 animate__animated animate__rubberBand animate__delay-2s justify-content-center align-items-center"
      >
        <div class="py-3">
          <a
            href="https://www.smartsuite.com/hire-an-expert/geekyair"
            target="_blank"
          >
            <img
              ngSrc="../../assets/Images/Bronze Partner (1).png"
              width="170"
              height="170"
              alt="smart-suite"
            />
          </a>
        </div>
        <div>
          <a
            href="https://www.smartsuite.com/hire-an-expert/geekyair"
            target="_blank"
          >
            <img
              ngSrc="../../assets/Images/smart-suite.svg"
              width="170"
              height="90"
              alt="smart-suite"
            />
          </a>
        </div>
      </div>
      <div
        class="imgg col-md-3 animate__animated animate__rubberBand animate__delay-2s justify-content-center align-items-center"
      >
        <div class="py-3">
          <a href="https://get.openphone.com/GeekyAir" target="_blank">
            <img
              ngSrc="../../assets/Images/OP_AppIcon_Circle_Purple.png"
              alt="OpenPhone"
              width="160"
              height="150"
            />
          </a>
        </div>
        <div class="py-3">
          <a href="https://get.openphone.com/GeekyAir" target="_blank">
            <img
              ngSrc="../../assets/Images/OP_Wordmark_Purple.png"
              alt="OpenPhone"
              width="170"
              height="30"
          /></a>
        </div>
      </div>
      <div
        class="imgg col-md-3 animate__animated animate__rubberBand animate__delay-2s justify-content-center align-items-center"
      >
        <div class="py-3">
          <a href="https://zapier.com/experts/geekyair" target="_blank">
            <img
              ngSrc="../../assets/Images/certified_zapier_expert_badge.png"
              alt="zapier"
              width="170"
              height="170"
            />
          </a>
        </div>
        <div class="py-3">
          <div>
            <a
              href="https://zapier.com/experts/geekyair
                  "
              target="_blank"
              ><img
                ngSrc="../../assets/Images/zapier-experts-earth.png"
                alt="zapier"
                width="170"
                height="30"
            /></a>
          </div>
        </div>
      </div>
      <div
        class="imgg col-md-3 animate__animated animate__rubberBand animate__delay-2s justify-content-center align-items-center"
      >
        <div class="py-3">
          <a
            href="https://meetgeek.grsm.io/geekyair
              "
            target="_blank"
            ><img
              ngSrc="../../assets/Images/meetgeek3.webp"
              alt="meetgeek"
              width="160"
              height="150"
          /></a>
        </div>
        <div class="py-3">
          <div>
            <a
              href="https://meetgeek.grsm.io/geekyair
                  "
              target="_blank"
              ><img
                src="../../assets/Images/meetgeek2.jpg"
                alt="meetgeek"
                width="170"
                height="30"
            /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="serve" class="header-home2 py-5">
  <div class="container text-center py-2">
    <button class="btn-services py-3">SERVICES</button>
  </div>
  <h1 class="title-blue text-center py-2">Make Your Digital Presence</h1>
  <h5 class="text-center title-Stand">
    Stand Out With Our Comprehensive Services
  </h5>
  <div class="container py-5">
    <div
      class="row py-3 justify-content-center flex-column flex-md-row gap-3 flex-column flex-md-row flex-lg-row"
    >
      <div
        class="col-md-3 animate__animated animate__bounce animate__slow"
        routerLink="noCode"
      >
        <div class="box-items rounded py-5">
          <div class="mx-3">
            <div class="text-center">
              <img
                ngSrc="../../assets/Images/Wb Imgs-02.png"
                alt="noCode"
                width="170"
                height="170"
              />
            </div>
            <h5 class="text-center">LOW CODE / NO CODE</h5>
            <P>We Plan, Manage and empower you work with No-Code Automations</P>
          </div>
        </div>
      </div>
      <div
        class="col-md-3 animate__animated animate__bounce animate__slow"
        routerLink="web-development"
      >
        <div class="box-items rounded py-5">
          <div class="mx-3">
            <div class="text-center">
              <img ngSrc="../../assets/Images/Wb Imgs-04.png" alt="web-development"  width="170"
              height="170"/>
            </div>
            <h5 class="text-center">WEB DEVELOPMENT</h5>
            <p>
              We create responsive websites that enrich your brand and deliver a
              great user experience
            </p>
          </div>
        </div>
      </div>
      <div
        class="col-md-3 animate__animated animate__bounce animate__slow"
        routerLink="uiUx"
      >
        <div class="box-items rounded py-5 uiUx">
          <div class="mx-3">
            <div class="text-center">
              <img ngSrc="../../assets/Images/ux-design.png" alt="uiux" width="170"
              height="170" />
            </div>
            <h5 class="text-center mt-2">UI/UX Design</h5>
            <p class="">
              We design and develop user-friendly interfaces for website ,
              mobile apps and software
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="why-us py-5">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-5">
        <img ngSrc="../../assets/Images/home2.png" alt="GeekyAir" width="400"
        height="400" />
      </div>

      <div class="col-md-6">
        <h1 class="text-white pb-3">Why Us..?</h1>

        <div class="div-box">
          <div class="my-3 py-3 div-boxx animate__animated animate__bounce">
            <p class="title-blue">
              We provide a variety of services such as UX/UI design, low-code
              development, web development, and social media management.
            </p>
          </div>
          <div class="my-3 py-3 div-boxx animate__animated animate__bounce">
            <p class="title-blue">
              A team of skilled and experienced experts committed to delivering
              quality results.
            </p>
          </div>
          <div class="my-3 py-3 div-boxx animate__animated animate__bounce">
            <p class="title-blue">
              Dedicated to providing excellent customer service and establishing
              long-term relationships with clients..
            </p>
          </div>
          <div class="">
            <button class="btn gold" routerLink="about">LEARN MORE</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="About-Founder bg-light py-5">
  <div class="container align-items-center justify-content-center">
    <div class="row align-items-center justify-content-center gap-5">
      <div class="col-md-4 bg-blog">
        <div
          class="image-box position-relative overflow-hidden w-100 text-center px-0"
        >
          <img
            class="animate__heartBeat animate__animated"
            src="../../assets/Images/rounded_corners-removebg-preview.png" alt="geekair"
          />
          <div
            class="iconess overlay d-flex align-items-center justify-content-center"
          >
            <div class="d-flex align-items-center justify-content-center">
              <a href="https://www.tiktok.com/@geekyair" target="_blank"
                ><i class="fa-brands fa-tiktok fs-3 mx-1"></i
              ></a>
              <a href="https://www.youtube.com/@GeekyAir" target="_blank"
                ><i class="fa-brands fa-youtube fs-3 mx-1"></i
              ></a>
              <a
                href="https://instagram.com/geekyair?igshid=YmMyMTA2M2Y="
                target="_blank"
                ><i class="fa-brands fa-instagram fs-3 mx-1"></i
              ></a>
              <a href="https://twitter.com/MohamedSwellam" target="_blank"
                ><i class="fa-brands fa-twitter fs-3 mx-1"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-7">
        <h1 class="py-2">About The Founder</h1>
        <h6 class="lh-lg">
          Mohamed Swellam started working as a No-Code/Low-Code expert in 2020.
          Over the years, became a Top Rated Plus freelancer on Up work, with
          more than 50 clients, and 2000+ hours worked. In 2023, we decided to
          expand our services to include Web Development, UI/UX, Social Media
          Marketing, and Content Creation. We started off as a small agency on
          Up work and in 2023 we had our first office with over 20 employees
          working in several fields.
        </h6>
        <h5 class="text-gold">Mohamed Swellam</h5>
        <h6 class="">CEO & Founder Of GeekyAir</h6>
      </div>
    </div>
  </div>
</section>
<section class="py-5 text-center Testimonials">
  <h1 class="">Testimonials.</h1>
  <h4 class="whatabout">What They Say About Us</h4>
  <div class="container container-sm container-md container-lg">
    <div id="carouselExample" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="div-item-box">
            <p class="div-item-box-text text-center">
              Mohamed has been an amazing partner to work with in regard to
              Zapier <br />
              automation and integrations. He has helped us over the years in
              automating a number <br />
              of manual tasks through Zapier saving us hundreds of hours of
              work. I highly recommend <br />
              working with Mohamed for Zapier and Airtable development.
            </p>
            <div class="justify-content-center align-items-center">
              <h6>Kevin Wang</h6>
              <div class="d-flex justify-content-center align-items-center">
                <div>
                  <i class="fa-solid fa-star fs-3 text-center star"></i>
                </div>
                <div>
                  <i class="fa-solid fa-star fs-3 text-center star"></i>
                </div>
                <div>
                  <i class="fa-solid fa-star fs-3 text-center star"></i>
                </div>
                <div>
                  <i class="fa-solid fa-star fs-3 text-center star"></i>
                </div>
                <div>
                  <i class="fa-solid fa-star fs-3 text-center star"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="div-item-box">
            <p class="div-item-box-text text-center">
              We had issues with our ATS not sending all of our contacts to our
              CRM. <br />
              We had a process in place that required us to create 150 new zaps
              every <br />
              month but Mohamed was able to <br />
              create 1 Zap for us that saved us countless hours every month.
              <br />
              It was eye opening to realize how much <br />
              we don't know and how helpful an expert can be.
            </p>
            <div
              class="d-flex justify-content-center align-items-center flex-column"
            >
              <h6>Tyler Simmonds, Windermere</h6>
              <div class="d-flex justify-content-center align-items-center">
                <div>
                  <i class="fa-solid fa-star fs-3 text-center star"></i>
                </div>
                <div>
                  <i class="fa-solid fa-star fs-3 text-center star"></i>
                </div>
                <div>
                  <i class="fa-solid fa-star fs-3 text-center star"></i>
                </div>
                <div>
                  <i class="fa-solid fa-star fs-3 text-center star"></i>
                </div>
                <div>
                  <i class="fa-solid fa-star fs-3 text-center star"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="div-item-box">
            <p class="div-item-box-text text-center">
              Had a great experience with Mohamed. <br />
              They understood exactly what I needed and made my vision come to
              life!
            </p>
            <div class="justify-content-center align-items-center">
              <h6>Matt Clark, Peachtree Debt Relief</h6>
              <div class="d-flex justify-content-center align-items-center">
                <div>
                  <i class="fa-solid fa-star fs-3 text-center star"></i>
                </div>
                <div>
                  <i class="fa-solid fa-star fs-3 text-center star"></i>
                </div>
                <div>
                  <i class="fa-solid fa-star fs-3 text-center star"></i>
                </div>
                <div>
                  <i class="fa-solid fa-star fs-3 text-center star"></i>
                </div>
                <div>
                  <i class="fa-solid fa-star fs-3 text-center star"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="div-item-box">
            <p class="div-item-box-text text-center">
              Mohamed has always been a problem solver to us, <br />
              he is very resourceful and knows how to create zaps and systems
              for our suited CRM. <br />
              He is always able to resolve any issues. He is responsive, <br />
              not expensive and straight to the point.
            </p>
            <div class="justify-content-center align-items-center">
              <h6>Dorian Roberto Ramirez Sosa, Direct Mediation Services</h6>
              <div class="d-flex justify-content-center align-items-center">
                <div>
                  <i class="fa-solid fa-star fs-3 text-center star"></i>
                </div>
                <div>
                  <i class="fa-solid fa-star fs-3 text-center star"></i>
                </div>
                <div>
                  <i class="fa-solid fa-star fs-3 text-center star"></i>
                </div>
                <div>
                  <i class="fa-solid fa-star fs-3 text-center star"></i>
                </div>
                <div>
                  <i class="fa-solid fa-star fs-3 text-center star"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="div-item-box">
            <p class="div-item-box-text text-center">
              Had a great experience with Mohamed. <br />
              They understood exactly what I needed and made my vision come to
              life!
            </p>
            <div class="justify-content-center align-items-center">
              <h6>Matt Clark, Peachtree Debt Relief</h6>
              <div class="d-flex justify-content-center align-items-center">
                <div>
                  <i class="fa-solid fa-star fs-3 text-center star"></i>
                </div>
                <div>
                  <i class="fa-solid fa-star fs-3 text-center star"></i>
                </div>
                <div>
                  <i class="fa-solid fa-star fs-3 text-center star"></i>
                </div>
                <div>
                  <i class="fa-solid fa-star fs-3 text-center star"></i>
                </div>
                <div>
                  <i class="fa-solid fa-star fs-3 text-center star"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="div-item-box">
            <p class="div-item-box-text text-center">
              Mohammad has been helping my business for over three years. <br />
              He is amazing and I cannot praise him enough for the work he has
              done for us. <br />
              Mohammed with the help of Zapier has help automate most of my
              business processes. <br />
              He is always a complete professional who responds back in a timely
              fashion. <br />
              A huge plus is how easy it is to understand his English.

              <br />
              He has come up with many great solutions to my problems. <br />
              I would highly recommend his services.
            </p>
            <div class="justify-content-center align-items-center">
              <h6>Kevin Boehning, Island wide palm trees</h6>
              <div class="d-flex justify-content-center align-items-center">
                <div>
                  <i class="fa-solid fa-star fs-3 text-center star"></i>
                </div>
                <div>
                  <i class="fa-solid fa-star fs-3 text-center star"></i>
                </div>
                <div>
                  <i class="fa-solid fa-star fs-3 text-center star"></i>
                </div>
                <div>
                  <i class="fa-solid fa-star fs-3 text-center star"></i>
                </div>
                <div>
                  <i class="fa-solid fa-star fs-3 text-center star"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExample"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExample"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
      </button>
    </div>
  </div>
</section>
<section class="contact-us py-5" id="Contact">
  <h1 class="text-center contact-us-text">Contact us</h1>
  <p class="text-center">Got A Project or A Partnership In Mind ?</p>
  <iframe
    src="https://form.smartsuite.com/snt0n45k/WSu3ie53l8?header=false"
    width="100%"
    height="800px"
    title="contactUs"
  ></iframe>
</section>
