.btn-join-blu {
  background-color: #ff4f00;
  border: none;
  color: white;
  height: 3.3em;
  width: 10.3em;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  box-shadow: 1px 3px 0px 1px #0c14bd;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
p {
  font-weight: 500;
  font-size: 16px;
  color: #2a2a72;
}

.box-items{
  border: #0071f2 1px solid;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
  rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

h1 {
  font-size: 2.5rem;
}
span,
h1 {
  color: #ff4f00;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
.btn-services {
  background-color: #ff4f00;
  color: white;
  border: none;
  height: 50px;
  width: 160px;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  box-shadow: 1px 4px 0px 1px #021a93;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  cursor: none;
  &:hover {
    box-shadow: -2px -3px 0px 1px #021a93;
  }
}
.image-hader{
  width: 170px ;
}
.title-blue {
  color: #2a2a72;
  letter-spacing: 1px;
  font-weight: 700;
}
h6 {
  color: #2a2a72;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
}

.image-box {
  img {
    max-width: 100%;
  }
}
.btn-Our-services {
  background-color: white;
  color: #0071f2;
  border: none;
  height: 3.3em;
  width: 10.3em;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  box-shadow: 1px 4px 0px 1px #ff4f00;
}
.btn-Our-services:hover {
  background-color: #ff4f00;
  color: white;
  box-shadow: 1px 4px 0px 1px white;
}

small {
  color: #2a2a72;
  font-size: 11px;
  line-height: 1px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.box-items:hover {
  background-color: #155eae;
  small,
  h5,
  p {
    color: white;
  }
}


.btn {
  border: none;
  height: 50px;
  width: 150px;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  box-shadow: 1px 3px 0px 1px #021a93;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.gold {
  background-color: #ff4f00;
  color: white;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.gold:hover {
  background-color: white;
  color: #0071f2;
}
.white:hover {
  background-color: #ff4f00;
  color: #0071f2;
}
.white {
  background-color: white;
  color: #155eae;
  white-space: nowrap;
}
.text-bro {
  font-size: 12px;
}
.carousel-control-prev {
  left: 270px;
  top: 270px;
  background-color: white;
}
.carousel-control-next {
  right: 270px;
  top: 270px;
}
.GeekyAir {
  width: 500px;
}
.header-home {
  background-image: url(../../assets/Images/bgg.jpg);
  background-position: center;
  background-size: cover;
}

.div-boxx {
  padding: 8px;
  width: 100%;
  height: auto;
  border: 1px solid #bfbfbf;
  background-color: white;
  box-shadow: 12px 12px 9px #021a93;
  border-radius: 12px;
  transition: 0.3s;
  position: relative;
  z-index: 10;
  cursor: pointer;
}
.bg-card {
  background-color: #ff4f00;
  width: fit-content;
  padding: 30px 30px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.btn-last {
  background-color: white;
}
.btn-join-blu:hover {
  background-color: white !important;
  color: #021a93;
  cursor: pointer;
}

.contact-us {
  background-color: #f2f7fe;
}

.contact-us-text {
  color: #021a93;
}

.text-gold {
  color: #ff4f00;
}
.border-warning {
  transition: 0.5s;
  box-shadow: #ff4f00 4px 5px 5px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.border-warning:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.bg-blog {
  position: relative;
  height: auto;
}
.bg-blog:hover .overlay {
  opacity: 1;
  bottom: 0%;
}
.overlay {
  position: absolute;
  bottom: -100%;
  left: 30px;
  right: 0;
  opacity: 0;
  background-color: #f7b1002a;
  width: 296px;
  height: 296px;
  border-radius: 55%;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -webkit-border-radius: 55%;
  -moz-border-radius: 55%;
  -ms-border-radius: 55%;
  -o-border-radius: 55%;
}

a {
  text-decoration: none;
  display: block;
}
i {
  background-color: white;
  height: 40px;
  width: 40px;
  color: #155eae;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.why-us {
  background-image: url(../../assets/Images/bgg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.cycle-wrapper{
	// width: 80%;
	position: relative;
	// margin: 110px auto 0 auto;
	// font-family: 'Bree Serif';
	// padding: 10px;
}
.rw-sentence{
	margin: 0;
	text-align: left;
}
.rw-sentence span{
	font-size: 20.8px;
  white-space: nowrap;
}
.weoffer{
  padding-top: 12px !important;
}
.rw-words{
	display: inline;
	text-indent: 10px;
}
.rw-words-1 span{
	position: absolute;
	opacity: 0;
	overflow: hidden;
  color: #ff4f00;
  // font-weight: 600;
	-webkit-animation: rotateWord 18s linear infinite 0s;
	-ms-animation: rotateWord 18s linear infinite 0s;
	animation: rotateWord 18s linear infinite 0s;
}
.rw-words-1 span:nth-child(2) { 
    -webkit-animation-delay: 3s; 
	-ms-animation-delay: 3s; 
	animation-delay: 3s; 
  color: #ff4f00;
}
.rw-words-1 span:nth-child(3) { 
    -webkit-animation-delay: 6s; 
	-ms-animation-delay: 6s; 
	animation-delay: 6s; 
  color: #ff4f00;
}
.rw-words-1 span:nth-child(4) { 
    -webkit-animation-delay: 9s; 
	-ms-animation-delay: 9s; 
	animation-delay: 9s; 
  color: #ff4f00;
}
.rw-words-1 span:nth-child(5) { 
    -webkit-animation-delay: 12s; 
	-ms-animation-delay: 12s; 
	animation-delay: 12s; 
  color: #ff4f00;
}
.rw-words-1 span:nth-child(6) { 
    -webkit-animation-delay: 15s; 
	-ms-animation-delay: 15s; 
	animation-delay: 15s; 
  color: #ff4f00;
}
@-webkit-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); }
	5% { opacity: 1; -webkit-transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); }
	20% { opacity: 0; -webkit-transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@-ms-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -ms-transform: translateY(-30px); }
	5% { opacity: 1; -ms-transform: translateY(0px);}
    17% { opacity: 1; -ms-transform: translateY(0px); }
	20% { opacity: 0; -ms-transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); transform: translateY(-30px); }
	5% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
	20% { opacity: 0; -webkit-transform: translateY(30px); transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
.openphone{
  width: 200px;
}
.btn-submit {
  background-color: #155eae;
  color: white;
  height: 3.3em;
  width: 10.3em;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  box-shadow: 1px 3px 0px 1px #ff4f00;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: none;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.btn-submit:hover {
  color: #0c14bd;
  background-color: #ff4f00;
  box-shadow: 1px 3px 0px 1px #0912be;
}
.col {
  cursor: pointer;
}
h5 {
  color: #021a93;
}
.displayblock {
  display: block;
}
@media only screen and (max-width: 1200px) {
  .aos-animate {
    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;

    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;

    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
  }
  .bg-blog:hover .overlay{
    display: none !important;
  }
}
@media only screen and (max-width: 992px) {
  .displayblock {
    display: none;
  }
  .carousel-control-prev-icon, .carousel-control-next-icon {
    height: 20px !important;
    width: 20px !important;
    outline: black;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid rgb(207, 142, 56);
    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
  }
  h6{
    font-size: 12px;
  }
  .carousel-control-prev{
    position: absolute; 
    left: 104px ;
    color: red;
    top: 220px !important;
  }
  .carousel-control-next{
    position: absolute;
    right: 9px;
    color: red;
    top:  220px !important;
  
  }
  
  .div-item-box{
    padding: 10px ;
    border: 1px solid white;
    font-size: 14px;
  }
  .bg-blog:hover .overlay{
    display: none !important;
  }
  .rw-sentence span{
    font-size: 16px;
  }
  .Testimonials{
  align-items: center;
  justify-content: center;

  }
  .div-item-box-text{
    font-size: 12px;
    text-align: start;
  }
  .btn-Our-services {
    height: 2.5em;
    width: 8.3em;
  }
  .title-blue{
    font-size: 22px;
  }
  body{
    text-align: center;
  }
  .title-Stand{
    font-size: 20px;

  }
  .bg-blog:hover .overlay{
    display: none !important;
  }
  .aos-animate {
    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;

    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;

    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
  }
 
  
  
  .aos-init {
    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;

    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;

    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
  }



}

.star{
  color: #fab005 !important;

}
.whatabout{
  color: #155eae;
}
.div-item-box{
    padding: 20px ;
    border: 1px solid white;
    border-radius:12px  ;
    -webkit-border-radius:12px  ;
    -moz-border-radius:12px  ;
    -ms-border-radius:12px  ;
    -o-border-radius:12px  ;
}
.carousel{
  position: relative;
}
.carousel-control-prev{
  position: absolute; 
  left: 104px ;
  color: red;
  top: -54px;
}
.carousel-control-next{
  position: absolute;
  right: 9px;
  color: red;
  top: -54px;

}
.carousel-control-prev{
  background-color: none !important;
}
.carousel-control-prev{
  background-color: transparent !important;

}
span .carousel-control-next-icon {
  color: red;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
  height: 40px;
  width: 40px;
  outline: black;
  background-color: rgba(0, 0, 0, 0.3);
  // background-size: 100%, 100%;
  border: 1px solid rgb(207, 142, 56);
  border-radius:20px;
  -webkit-border-radius:20px;
  -moz-border-radius:20px;
  -ms-border-radius:20px;
  -o-border-radius:20px;
}



