<section class="header-home">
  <div
    class="container py-5 container-md container-lg container-xl container-xxl"
  >
    <div class="row justify-content-center align-items-center">
      <div class="col-md-6">
        <h1 class="tw fs-1 text-white">
          <br />
          GEEKYAIR
        </h1>

        <p class="py-3 text-white">
          GeekyAir is a <span>full-service software</span> company helping
          businesses succeed online.
        </p>
        <button class="btn-Our-services mx-2">Join US</button>
      </div>

      <div
        data-aos="fade-down"
        data-aos-duration="3000"
        class="col-md-6 displayblock"
      >
        <img
          src="../../assets/Images/home.png"
          alt="GeekyAir"
          class="GeekyAir"
        />
      </div>
    </div>
  </div>
</section>
<section class="py-5">
  <h1 class="text-center title-blue py-4">Proudly Certified By:</h1>
  <div
    class="d-flex justify-content-center align-items-center flex-column flex-md-row gap-3 flex-column flex-md-row flex-lg-row"
  >
    <div>
      <a
        href="https://www.smartsuite.com/hire-an-expert/geekyair"
        target="_blank"
      >
        <img src="../../assets/Images/smart-suite.svg" alt=""
      /></a>
    </div>
    <div>
      <a
        href="https://zapier.com/experts/geekyair
            "
        target="_blank"
        ><img src="../../assets/Images/Wb Imgs-08.png" alt=""
      /></a>
    </div>
  </div>
</section>
<section class="header-home2 py-5" id="Service">
  <div class="container text-center py-2">
    <button class="btn-services">SERVICES</button>
  </div>
  <h1 class="title-blue text-center py-2">Make Your Digital Presence</h1>
  <h5 class="text-center">Stand Out With Our Comprehensive Services</h5>
  <div class="container py-5">
    <div
      class="row py-3 justify-content-center flex-column flex-md-row gap-3 flex-column flex-md-row flex-lg-row"
    >
      <div
        data-aos="fade-up-right"
        data-aos-duration="1000"
        class="col-md-3"
        routerLink="noCode"
      >
        <div class="box-items rounded py-5">
          <div class="mx-3">
            <div class="text-center">
              <img
                src="../../assets/Images/Wb Imgs-02.png"
                alt="noCode"
                class=""
              />
            </div>
            <h5 class="text-center">LOW CODE / NO CODE</h5>
            <P>We Plan, Manage and empower you work with No-Code Automations</P>
          </div>
        </div>
      </div>
      <div
        data-aos="fade-up-right"
        data-aos-duration="1500"
        class="col-md-3"
        routerLink="web-development"
      >
        <div class="box-items rounded py-5">
          <div class="mx-3">
            <div class="text-center">
              <img src="../../assets/Images/Wb Imgs-04.png" alt="" class="" />
            </div>
            <h5 class="text-center">WEB DEVELOPMENT</h5>
            <p>
              We create responsive websites that enrich your brand and deliver a
              great user experience
            </p>
          </div>
        </div>
      </div>
      <div
        data-aos="fade-up-right"
        data-aos-duration="2000"
        class="col-md-3"
        routerLink="uiUx"
      >
        <div class="box-items rounded py-5 uiUx">
          <div class="mx-3">
            <div class="text-center">
              <img src="../../assets/Images/ux-design.png" alt="" class="" />
            </div>
            <h5 class="text-center mt-2">UI/UX Design</h5>
            <p class="">
              We design and develop user-friendly interfaces for website ,
              mobile apps and software
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="why-us py-5">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-5">
        <img src="../../assets/Images/home2.png" alt="" class="w-100" />
      </div>

      <div class="col-md-6">
        <h1 class="text-white pb-3">Why Us..?</h1>

        <div class="div-box">
          <div class="my-3 py-3 div-boxx" data-aos="fade-left">
            <p class="title-blue">
              We provide a variety of services such as UX/UI design, low-code
              development, web development, and social media management.
            </p>
          </div>
          <div
            class="my-3 py-3 div-boxx"
            data-aos="fade-left"
            data-aos-duration="1500"
          >
            <p class="title-blue">
              A team of skilled and experienced experts committed to delivering
              quality results.
            </p>
          </div>
          <div
            class="my-3 py-3 div-boxx"
            data-aos="fade-left"
            data-aos-duration="2000"
          >
            <p class="title-blue">
              Dedicated to providing excellent customer service and establishing
              long-term relationships with clients..
            </p>
          </div>
          <div class="">
            <button class="btn gold m-1">LEARN MORE</button>
            <button class="btn white mx-3 py-1 m-1">Our SERVICES</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="About-Founder bg-light py-5">
  <div class="container align-items-center justify-content-center">
    <div class="row align-items-center justify-content-center gap-5">
      <div
        class="col-md-4 bg-blog"
        data-aos="flip-left"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="2000"
      >
        <div
          class="image-box position-relative overflow-hidden border border-warning w-100 text-center px-0"
        >
          <img
            src="../../assets/Images/rounded_corners-removebg-preview.png"
            class=""
          />
          <div
            class="iconess overlay d-flex align-items-center justify-content-center"
          >
            <div class="d-flex align-items-center justify-content-center">
              <a href="https://www.tiktok.com/@geekyair" target="_blank"
                ><i class="fa-brands fa-tiktok fs-3 mx-1"></i
              ></a>
              <a href="https://www.youtube.com/@GeekyAir" target="_blank"
                ><i class="fa-brands fa-youtube fs-3 mx-1"></i
              ></a>
              <a
                href="https://instagram.com/geekyair?igshid=YmMyMTA2M2Y="
                target="_blank"
                ><i class="fa-brands fa-instagram fs-3 mx-1"></i
              ></a>
              <a href="https://twitter.com/MohamedSwellam" target="_blank"
                ><i class="fa-brands fa-twitter fs-3 mx-1"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-7">
        <h1 class="py-2">About The Founder</h1>
        <h6 class="lh-lg">
          Mohamed Swellam started working as a No-Code/Low-Code expert in 2020.
          Over the years, became a Top Rated Plus freelancer on Up work, with
          more than 50 clients, and 2000+ hours worked. In 2023, we decided to
          expand our services to include Web Development, UI/UX, Social Media
          Marketing, and Content Creation. We started off as a small agency on
          Up work and in 2023 we had our first office with over 20 employees
          working in several fields.
        </h6>
        <h5 class="text-gold">Mohamed Swellam</h5>
        <h6 class="">CEO & Founder Of GeekyAir</h6>
      </div>
    </div>
  </div>
</section>
<section class="contact-us py-5 bg-light" id="Contact">
  <h1 class="text-center contact-us-text">Contact us</h1>
  <p class="text-center">Got A Project or A Partnership In Mind ?</p>
  <!-- <div class="container">
    <div class="row justify-content-evenly align-items-center gap-5">
      <div class="col-md-5">
        <form (ngSubmit)="submitcontactform()" [formGroup]="contact">
          <div class="input-bx py-2">
            <input type="text" required="required" formControlName="firstName" />
            <span>First Name</span>
            <div
              *ngIf="
                contact.get('firstName')?.errors && contact.get('firstName')?.touched
              "
              class="alert alert-danger p-2"
            >
              <p class="m-0" *ngIf="contact.get('firstName')?.getError('required')">
                firstName is required
              </p>
              <p *ngIf="contact.get('firstName')?.getError('firstName')">
                firstName is invalid
              </p>
            </div>
          </div>
          <div class="input-bx py-2">
            <input type="text" required="required" formControlName="lastName" />
            <span>last Name</span>
            <div
              *ngIf="
                contact.get('lastName')?.errors && contact.get('lastName')?.touched
              "
              class="alert alert-danger p-2"
            >
              <p class="m-0" *ngIf="contact.get('lastName')?.getError('required')">
                lastName is required
              </p>
              <p *ngIf="contact.get('lastName')?.getError('lastName')">
                lastName is invalid
              </p>
            </div>
          </div>
          <div class="input-bx py-2">
            <input type="email" required="required" formControlName="email" />
            <span>Email</span>

            <div
              *ngIf="
                contact.get('email')?.errors && contact.get('email')?.touched
              "
              class="alert alert-danger p-2"
            >
              <p class="m-0" *ngIf="contact.get('email')?.getError('required')">
                email is required
              </p>
              <p *ngIf="contact.get('email')?.getError('email')">
                email is invalid
              </p>
            </div>
          </div>
          <div class="input-bx py-2">
            <input type="text" required="required" formControlName="phone" />
            <div
              *ngIf="
                contact.get('phone')?.errors && contact.get('phone')?.touched
              "
              class="alert alert-danger p-2"
            >
              <p class="m-0" *ngIf="contact.get('phone')?.getError('required')">
                Phone Number is required
              </p>
              <p *ngIf="contact.get('phone')?.getError('phone')">
                Phone Number is invalid
              </p>
            </div>
            <span>Phone Number</span>
          </div>
          <div class="input-bx py-2">
            <div class="form-floating">
              <textarea
                formControlName="textArea"
                class="form-control"
                placeholder="Leave a comment here"
                id="floatingTextarea2"
                style="height: 100px"
              ></textarea>
              <label for="floatingTextarea2">Tell Us About Your Project</label>
            </div>
          </div>
          <div>
            <button
              [disabled]="contact.invalid"
              class="btn-submit btn"
              type="submit"
            >
              Submit
            </button>
          </div>
        </form>
      </div>
      <div class="col-md-6">
        <img src="../../assets/Images/Contact-us.png" alt="" class="w-100" />
      </div>
    </div>
  </div> -->
  <iframe src="https://form.smartsuite.com/snt0n45k/WSu3ie53l8?header=false" width="100%" height="500px"></iframe>
</section>
