<section class="footer py-3 ">
    <div class="container d-flex  justify-content-between align-items-center mt-m flex-column flex-lg-row flex-md-row">
     <div class="div">
        <img src="../../assets/Images/Wb Imgs-07.png" alt="">
     </div>
     <div class="nav d-flex flex-column justify-content-center align-items-center gap-2 pt-5">
      <div class="d-flex text-white">
        <div class="mx-2">About</div>
        <div class="mx-2">Services</div>
        <div class="mx-2">Contact Us</div>
        <div class="mx-2">Join Us</div>
     </div>
     <p class="text-center text-white">Copyright &copy; 2023 All Rights reserved to GeekyAir </p>

     </div>

     <div class="iconess">
        <div class="d-flex">
            <a href=""><i class="fa-brands fa-facebook fs-3 mx-2 icons-box"></i></a>
            <a href=""><i class="fa-brands fa-tiktok fs-3 mx-1 icons-box"></i></a>
            <a href=""><i class="fa-brands fa-youtube fs-3 mx-1 icons-box"></i></a>
            <a href=""><i class="fa-brands fa-instagram fs-3 mx-1 icons-box"></i></a>
            <a href=""><i class="fa-brands fa-twitter fs-3 mx-1 icons-box"></i></a>
          </div>
     </div>
    </div>
</section>
