i {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
i:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  background-color: white;
  color: #1f3dd5;
}
.icons-box {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  padding: 20px;
}
i {
  position: relative;
}
i::before {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.footer {
  background-image: url(../../assets/Images/two.svg);
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  padding: 40px 0;

}
.fa-facebook{
color: #4267B2
;
}
.fa-tiktok{
  color: black;
}
.fa-youtube{
 color: #FF0000;
}
.fa-instagram{
  color:#E1306C;
}

.fa-twitter{
 color: #1da1f2;
}
