<section class="about-us py-5 text-white">
    <div class="container">
      <div class="row gap-5 justify-content-center align-items-center py-4">
        <div class="col-md-5 col-lg-5">
          <h1>About Us</h1>
          <h5 class="lh-sm">
            GeekyAir is a top-rated No-Code/Low-Code, Web Development, UI/UX, and Social Media Management company located in Alexandria, Egypt. Our comprehensive range of services includes Data Base Architecture, No-Code Automations, Scripting, Web Development, UI/UX Graphic Designing, Virtual Assistance, and Data Entry. Our founder, Mohamed Swellam, was a civil engineer working as Contracts Manager in the Oil & Gas industry before becoming a No-Code/Low-Code expert. He has worked with over 50 clients, completing more than 2000 hours of work, and is now leading a team of over 20 professionals in several fields.
          </h5>
        </div>
        <div class="col-md-5 col-lg-5">
          <img
            src="../../assets/Images/Wb Imgs-07.png"alt=""
            class="w-100 rounded"
          />
        </div>
      </div>
      <div class="row gap-5 justify-content-center align-items-center py-4">
        <div class="col-md-5 col-lg-5">
          <img
            src="../../assets/Images/Geeky.png"
            alt=""
            class="w-100"
          />
        </div>
        <div class="col-md-5 col-lg-5">
          <h5 class="lh-sm">
            Our goal is to become the go-to company for all your business needs. We aim to have over 100 employees in the next two years, and more than 100 employees by the end of 2025. Our services include No-Code/Low-Code consulting, Web Development (using WordPress, React, Angular, and Vue), UI/UX, Social Media Management (including ads), and Content Creation. We utilize platforms such as Zapier, SmartSuite, Airtable, and others to provide comprehensive No-Code/Low-Code solutions.
          </h5>
        </div>
      </div>
    </div>
    <div class="container py-5">
      <div class="row py-3 justify-content-center flex-column flex-md-row gap-3 flex-column flex-md-row flex-lg-row">
        <div data-aos="fade-up-right"data-aos-duration="1000"class="col-md-3">
          <div class="box-items rounded py-5">
            <div class="mx-3">
              <div class="text-center d-flex justify-content-center">
                <i class="fa-regular fa-gem  fs-1"></i>
              </div>
              <h4 class="text-center py-4">Our Vision</h4>
              <p>
                We want to have more than 100 employees by end of 2025 so that we can cater to all your business needs
  
              </p>
            </div>
          </div>
        </div>
        <div data-aos="fade-up-right" data-aos-duration="1500" class="col-md-3">
          <div class="box-items rounded py-5">
            <div class="mx-3">
              <div class="text-center d-flex justify-content-center">
                <i class="fa-solid fa-binoculars fs-1"></i>     
                     </div>
              <h4 class="text-center py-4">Our Mission</h4>
              <p>
                Our mission is to become the go-to company for all your business needs. We aim to have 100+ employees over the next 2 years.
              </p>
            </div>
          </div>
        </div>
        <div data-aos="fade-up-right"data-aos-duration="2000" class="col-md-3">
          <div class="box-items rounded py-5 uiUx">
            <div class="mx-3">
              <div class="text-center d-flex justify-content-center"><i class="fa-solid fa-rocket fs-1"></i></div>
              <h4 class="text-center py-4">Our Values</h4>
              <p class=""></p>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

