.about-us {
  background-image: url(../../assets/Images/bgg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.col-md-3 {
  border: 1px solid white;
  padding: 12px 20px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(250, 248, 248, 0.959) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
i {
  color: #407bff;
  background-color: white;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  cursor: pointer;
  display: flex;
}
h4{
    font-weight: 600;
}
@media only screen and (max-width: 992px){
   h5{
    font-size: 14px ;
   }

}
