<section class="about-us  text-white">
  <div class="container">
    <div class="py-5">
      <div class="row gap-5 justify-content-center align-items-center py-4">
        <div class="col-md-5 col-lg-5">
          <h1>About Us</h1>
          <h5 class="lh-sm">
            GeekyAir is a top-rated No-Code/Low-Code, Web Development, UI/UX, and Social Media Management company located in Alexandria, Egypt. Our comprehensive range of services includes Data Base Architecture, No-Code Automations, Scripting, Web Development, UI/UX Graphic Designing, Virtual Assistance, and Data Entry
          </h5>
        </div>
        <div class="col-md-5 col-lg-5">
          <img
            src="../../assets/Images/GeekyAir.png"alt=""
            class="w-100 rounded"
          />
        </div>
      </div>
      <div class="row gap-5 justify-content-center align-items-center py-4 flex-column-reverse flex-lg-row flex-md-row">
        <div class="col-md-5 col-lg-5">
          <img
            src="../../assets/Images/golas.jpg"
            alt="golas"
            class="w-100  rounded"
          />
        </div>
        <div class="col-md-5 col-lg-5">
          <h5 class="lh-sm">
            Our goal is to become the go-to company for all your business needs. We aim to have over 100 employees in the next two years, and more than 100 employees by the end of 2025. Our services include No-Code/Low-Code consulting, Web Development (using WordPress, React, Angular, and Vue), UI/UX, Social Media Management (including ads), and Content Creation. We utilize platforms such as Zapier, SmartSuite, Airtable, and others to provide comprehensive No-Code/Low-Code solutions.
          </h5>
        </div>
      </div>
    </div>
    <div class="boxs">
      <div class="row  py-3 gap-3 justify-content-center flex-column flex-md-row  flex-column flex-md-row flex-lg-row">
        <div data-aos="fade-up-right"data-aos-duration="1000"class="col-md-3">
          <div class="box-items border-box rounded py-3">
            <div class=" ">
              <div class="text-center d-flex justify-content-center">
                <i class="fa-regular fa-gem  fs-1"></i>
              </div>
              <h4 class="text-center py-4">Our Vision</h4>
              <p>
                We want to have more than 100 employees by end of 2025 so that we can cater to all your business needs
  
              </p>
            </div>
          </div>
        </div>
        <div data-aos="fade-up-right" data-aos-duration="1500" class="col-md-3">
          <div class="box-items border-box  rounded py-3">
            <div class="mx-3">
              <div class="text-center d-flex justify-content-center">
                <i class="fa-solid fa-binoculars fs-1"></i>     
                     </div>
              <h4 class="text-center py-4">Our Mission</h4>
              <p>
                Our mission is to become the go-to company for all your business needs. We aim to have 100+ employees over the next 2 years.
              </p>
            </div>
          </div>
        </div>
        <div data-aos="fade-up-right"data-aos-duration="2000" class="col-md-3">
          <div class="box-items border-box  rounded py-3 uiUx">
            <div class="mx-3">
              <div class="text-center d-flex justify-content-center"><i class="fa-solid fa-rocket fs-1"></i></div>
              <h4 class="text-center py-4">Our Values</h4>
              <p class="">
                We have Dreams, to pioneer the future with curiosity, 
                Integrity and sincerity to earn the trust of our clients and Sustainability
                to fulfill our responsibilities.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

