.btn-join {
  height: 50px;
  width: 130px;
  border-radius: 20px;
  font-weight: 500;
  background-color: white;
  color: #0383d3;
  border: none;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  box-shadow: 1px 3px 0px 1px #ff4f00;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.navbar-nav {
  white-space: nowrap;
}
.btn-join:hover {
  color: white;
  background-color:#ff4f00;
  border: 1px solid white;
  box-shadow: 1px 3px 0px 1px white;

}

section {
background: #005C97;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #363795, #005C97);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #010259, #007bd9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


a {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  position: relative;
}
.navbar .links .d-flex .navbar-nav .nav-item a:before{
    content: "";
    position: absolute;
    width: 0;
    bottom: -5px;
    left: 0;
    background-color: #fff;
    color: #fff;
    height: 1.9px;
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}
.navbar .links .d-flex .navbar-nav .nav-item a:hover:before{
  width: 100%;
}
.pointer{
  cursor: pointer;
}

.py-5 {
  background-color: red;
}
@media only screen and (max-width: 768px) {
    .navbar-toggler{
        color: white !important;
        background-color: white;
    }
      .btn-join {
       height: 30px;
        width: 100px;
     }
}

@media only screen and (max-width: 992px) {
    .navbar-toggler{
        color: white !important;
        background-color: white;

    }

}

