<section class=Navbar>
   
      <div class="container">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand" href="#"><img src="../../assets/Images/Wb Imgs-07.png" alt="GeekyAir" class="w-100"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            <div class="links">
              <div class="d-flex justify-content-center align-items-between  ">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-white mx-5">
                      <li class="nav-item">
                        <a class="nav-link active text-white" aria-current="page" href="#">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active text-white" aria-current="page" href="#">Services</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active text-white" aria-current="page" href="#">About Us</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active text-white" aria-current="page" href="#">Blog</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active text-white" aria-current="page" href="#">Contact Us</a>
                      </li>
                    </ul>
                   
                  </div>
               </div>
            </div>
            <div class="button">
              <button class="btn-join">
                Join Us
              </button>
            </div>
            </div>
          </nav>
      </div>

</section>