.btn-join{
    height: 50px;
    width: 130px;
    border-radius: 20px;
    font-weight: 500;
    background-color:white;
    color:#0383d3;
    border: none;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    box-shadow: 1px 3px 0px 1px #ff4f00;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  
}
.btn-join:hover{
    color: white;
    background-color: #0088D9;
    border: 1px solid white;

}
section{
//   background: linear-gradient(to left, #0088D9, #155EAE 50%, #2A2A72 100%);
     background-color:#224ada;
}

a{
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
li:hover{
    background-color: #f7b300;
}
.py-5{
background-color: red
}