<section class="Navbar">
  <div class="container">
    <nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"
          ><img
            src="../../assets/Images/Wb Imgs-07.png"
            alt="GeekyAir"
            class="w-100"
        /></a>
        <button
          id="close"
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="links">
        <div class="d-flex justify-content-center align-items-between">
          <div
            class="collapse navbar-collapse ms-4"
            id="navbarSupportedContent"
          >
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-white mx-5">
              <li class="nav-item">
                <a
                  (click)="closeToggle()"
                  class="nav-link active text-white line"
                  id=""
                  aria-current="page"
                  routerLink="/"
                  >Home</a
                >
              </li>
              <li class="nav-item">
                <a
                (click)="closeToggle()"
                  class="nav-link active text-white line"
                  aria-current="page"
                  href="#Service"
                  routerLinkActive="line"
                  >Services</a
                >
              </li>
              <li class="nav-item">
                <a
                (click)="closeToggle()"
                  id="rania"
                  class="nav-link active text-white line"
                  aria-current="page"
                  routerLink="about"
                  routerLinkActive="line"
                  >About Us</a
                >
              </li>

              <li class="nav-item">
                <a (click)="closeToggle()"
                class="nav-link active text-white line" href="#Contact"
                  >Contact Us</a
                >
              </li>
              <li>
                <div>
                  <button
                    class="btn-join ms-lg-5 ms-md-0 ms-0"
                    routerLink="join-us"
                  >
                    Join Us
                  </button>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>
</section>
