.box-item {
    background-color: #ff510000;
    height: 100%;
  }
  i {
    color: white;
    background-color: #407bff;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    cursor: pointer;
}
  .web-iti {
    width: 100px;
  }
  
  .col-md-3 {
    border: #407bff 1px solid;
    height: 350px;
    max-height: 350px;
  }
  

 .w-25{
  width: 150px !important;
 }
 h1{
  color: #ff4f00; 

 }