<section class="web-deve bg-light py-5">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-6">
        <h1>Web Development</h1>
        <small>
          At our web development company, we use different technologies to
          create responsive websites that enrich your brand and deliver a great
          user experience. With a focus on quality and timely delivery, we help
          you achieve higher conversions across desktop, tablet, and mobile
          devices. Are you looking to build a high-quality, scalable web
          application for your business? Look no further than our web
          development company. We specialize in creating websites with different
          technologies, including React, to deliver a great user experience that
          enhances your brand. Our responsive web design approach ensures that
          your website generates higher conversions across desktop, tablet, and
          mobile devices. We work closely with you to understand your needs and
          goals, and create a customized plan to deliver your project in a
          timely manner
        </small>
      </div>
      <div class="col-md-5">
        <img
          src="../../assets/Images/Software integration-bro (1).png"
          alt=""
          class="w-100"
        />
      </div>
    </div>
  </div>
</section>
<section class="hade">
  <div class="container">
    <div class="row align-items-center justify-content-center flex-column-reverse flex-lg-row flex-md-row">
      <div class="col-md-4">
        <img
          src="../../assets/Images/Hand coding-bro.png"
          alt=""
          class="w-100"
        />
      </div>
      <div class="col-md-8">
        <small>
          You can count on us to work according to a time plan that we agree
          upon before starting the project. At our web development company,
          quality is our top priority. We take pride in delivering websites that
          not only look great, but also perform well and provide a seamless user
          experience. Whether you need a simple website or a complex web
          application, we have the skills and expertise to bring your vision to
          life. Don't settle for a mediocre website that doesn't reflect your
          brand or meet your needs. Choose our web development company for
          high-quality web development with diverse technologies. Contact us
          today to get started on your project.
        </small>
      </div>
    </div>
  </div>
</section>
<section class="Technologies py-5">
  <h1 class="text-center">Technologies We Provide</h1>
  <div class="container pt-5">
    <div class="row mb-5">
      <div class="div-list">
        <ul class="d-flex justify-content-center gap-5 flex-column flex-md-row flex-lg-row animate__flash">
          <li><img src="assets/Images/icons8-angularjs-96.png" alt="" class="animate__flash" /></li>
          <li><img src="assets/Images/icons8-react-native-96.png" alt="" class="animate__flash" /></li>
          <li><img src="assets/Images/icons8-vue-js-96.png" alt="" class="animate__flash" /></li>
          <li><img src="assets/Images/icons8-nodejs-96.png" alt=""  class="animate__flash"/></li>
          <li><img src="assets/Images/icons8-php-logo-80.png" alt="" class="animate__flash" /></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div>
        <ul class="d-flex justify-content-center gap-5 flex-column flex-md-row flex-lg-row">
          <li><img src="assets/Images/icons8-django-96.png" alt="" /></li>
          <li><img src="assets/Images/not.png" alt="" /></li>
          <li><img src="assets/Images/rsz_985px-laravelsvg.png" alt="" /></li>
          <li>
            <img
              src="assets/Images/webflow_logo_icon_169218.png"
              alt=""
              class="web-iti"
            />
          </li>
          <li><img src="assets/Images/icons8-wix-96.png" alt="" class="" /></li>
        </ul>
      </div>
    </div>
    <div class="row mt-5">
      <div>
        <ul class="d-flex justify-content-center gap-5 flex-wrap">
          <li>
            <img src="../../assets/Images/Wordpress_Blue_logo.png" alt="" />
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="why-geekyair py-5">
  <h1 class="text-center py-4">Why GeekyAir ?</h1>
  <div class="container py-5">
    <div class="row align-items-center justify-content-center text-center gap-4">
      <div class="col-md-3">
        <div class="box-item py-5">
          <div class="d-flex justify-content-center">
            <i class="fa-solid fa-gauge fs-2"></i>
          </div>
          <h5 class="my-2 mt-4">Performance</h5>
          <p class="mt-4">
            We are using the latest technologies either in web design or in web
            development to provide the best performance for our delivered web
            app
          </p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="box-item py-5 ">
          <div class="d-flex justify-content-center ">
            <i class="fa-solid fa-check fs-2 text-center"></i>
          </div>
          <h5 class="my-2 mt-4">Quality</h5>
          <p class="mt-4">
            Our web applications are passing through different types of testing:
            functional testing, integration testing, security testing and load
            testing.
          </p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="box-item py-5">
          <div class="d-flex justify-content-center">
            <i class="fa-solid fa-magnifying-glass fs-2"></i>
          </div>
          <h5 class="my-2 mt-4">SEO-Friendly</h5>
          <p class="mt-4">
            We offer SEO services to improve your website's search engine rankings and drive more organic traffic. 
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
