<section class="web-deve bg-light py-5">
<div class="container">
    <div class="row align-items-center justify-content-center">
        <div class="col-md-6">
            <h1>Web Development</h1>
            <h4>Build High Quality Scalable <br> Web Application with Differents Technologies</h4>
        </div>
        <div class="col-md-5">
            <img src="../../assets/Images/Software integration-bro (1).png" alt="" class="w-100">

        </div>
    </div>
    
</div>

</section>
<section class="hade">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-4">
                <img src="../../assets/Images/Hand coding-bro.png" alt="" class="w-100">
    
            </div>
            <div class="col-md-8">
                <h4>We creates websites for our Clients that want to enrich their Client and deliver their brand.</h4>
                <h4>We creates websites Responsive web design generates higher conversions across desktop, tablet and mobile devices.</h4>
                <h4>Your project will be completed in a timely manner. We work according to a time plan which we agree with you before starting the project.</h4>
            </div>
        </div>
    </div>
</section>
<section class="Technologies py-5">
    <h1 class="text-center">Technologies We Provide
    </h1>
  <div class="container py-5">
    <div class="row gap-4 align-items-center justify-content-center text-white text-center">
     <div class="col-md-5">
        <!-- <p-accordion [multiple]="true">
            <p-accordionTab header="Header 1" [selected]="isExpanded">
              <p>
                Content 1
              </p>
            </p-accordionTab>
            <p-accordionTab header="Header 2" [selected]="isExpanded">
              <p>
               content 2
              </p>
            </p-accordionTab>
            <p-accordionTab header="Header 3" [selected]="isExpanded">
              <p>
                content 3
              </p>
            </p-accordionTab>
          </p-accordion> -->
          
          <button (click)="isExpanded = !isExpanded">Toggle</button>
     </div>
     <div class="col-md-5"> 
        <img src="../../assets/Images/Geeky.png" alt="" class="w-100">
     </div>
     </div>
     </div>
</section>
















 <section class="why-geekyair py-5">
  <h1 class="text-center">Why GeekyAir ?</h1>
  <div class="container text-center">
    <div class="row align-items-center justify-content-center">
         <div class="col-md-3">
            <div class="box-item bg-info py-5">
            <i class="fa-solid fa-gauge fs-4 bg-danger"></i>
            <h5>Performance</h5>
            <p>We are using the latest technologies either in web design or in web development to provide the best performance for our delivered web app</p>
            </div>
         </div>
         <div class="col-md-3">
            <div class="box-item bg-info py-5 ">
           <i class="fa-solid fa-check bg-danger"></i>
            <h5>Quality</h5>
            <p>Our web applications are passing through different types of testing: functional testing, integration testing, security testing and load testing.</p>

            </div>
         </div>
         <div class="col-md-3">
            <div class="box-item bg-info py-5 mx-3">
           <i class="fa-solid fa-magnifying-glass bg-danger"></i>
            <h5> SEO-Friendly</h5>
            <p>Lorem, ipsum dolor sit amet consectetur Non inventore voluptatem neque ipsam sed adipisci porro eaque! Culpa, laudantium a.</p>

            </div>
         </div>
    </div>
  </div>
 </section>