.box {
  padding: 0px 90px;
}
li {
  text-align: initial;
  text-align: center;
  list-style: none;
  color: #021a93;
}

h1 {
  color: #ff4f00;
  font-weight: 600;
}
small {
  color: #263238;
  font-size: 16px;
  font-weight: 500;
}
.box-item {
  background-color: #ff510000;
  height: 100%;
  border: 1px solid   #407bff;
}
i {
  color: white;
  background-color: #407bff;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.web-iti {
  width: 100px;
}

.col-md-3 {
  // border: #407bff 1px solid;
  height: 350px;
  max-height: 350px;
}
