.Zapier{
    font-size: 2.5rem;
    color: #224ada;

}
h1{
    color: #ff4f00;
    font-weight: 700;

}
h4,h5 ,h6{
    color: #224ada;
}

// @media screen 993  {
    
// }
// @media screen 768  {
    
// }
// @media screen 1070  {
    
// }