<section class="low-code py-5 bg-light">
  <div class="container">
    <h1 class="text-center" data-aos="fade-right">Why Zapier ? </h1>
  
    <div class="row py-3  align-items-center justify-content-center">
      <div class="col-md-5">
          <h1 class="Zapier" data-aos="fade-right"  data-aos-duration="1500">   Transform
            Your Business <br>
             with
              No-code 
             Automation</h1>
      </div>
      <div class="col-md-5" data-aos="fade-left"  data-aos-duration="1500">
        <img src="../../assets/Images/zapier-experts-earth.png" alt="" class="w-100">
      </div>
  
     </div>
     <div class="row py-2  align-items-center justify-content-center">
      <div class="col-md-5"data-aos="fade-right"
      data-aos-duration="1000">
        <img src="../../assets/Images/certified_zapier_expert_badge.png" alt="" class="w-50">
       </div>
      <div class="col-md-5" data-aos="fade-left"  data-aos-duration="1500">
       <h4>Zapier empowers you to automate your work across 5,000+ apps—so you can move forward, faster.</h4>
       <h4>Zapier supports more apps than any other platform, so you can connect the tools you use today—and tomorrow.</h4>
      </div>
    
     </div>
  </div>

  
</section>
<section class="Why-SmartSuite py-5">
   <div class="container">
    <div class="d-flex  align-items-center justify-content-center gap-4">
      <h1 class="Why-SmartSuite">Why SmartSuite ?</h1>
      
    </div>
    <div class="row  align-items-center justify-content-center">
      <div class="col-md-6" data-aos="fade-right"  data-aos-duration="1500">
        <h4>SmartSuite can help you plan and manage all your team’s work in one place: Goals, Processes, Projects, Tasks, Doc’s, Chat, & more.</h4>
      </div>
       <div class="col-md-4" data-aos="fade-left"  data-aos-duration="1500">
        <img src="../../assets/Images/smartsuite logo.png" alt="" class="rounded w-100">

       </div>
    </div>
   
    <div class="row  align-items-center justify-content-center gap-4">
    
       <div class="col-md-4" data-aos="fade-right"  data-aos-duration="1500">
        <img src="../../assets/Images/SMS021_SocialGraphics_1.png" alt="" class="rounded w-100">

       </div>
       <div class="col-md-6" data-aos="fade-left"  data-aos-duration="1500">
        <h5> <ul><li>Use a Single Platform for Just About Everything
          Say goodbye to jumping between spreadsheets, documents, calendars and a bunch of different tools to get your work done. Manage your work where you do your work.</li></ul></h5>
          <h5> <ul><li> Increase the productivity of teams by empowering them to create, automate, manage projects and processes that support the way they want to work.</li></ul> </h5>
          <h5> <ul><li> Allow team members to collaborate directly in the context of the work that is being done and provide managers visibility to ensure success with team and company goals</li></ul> </h5>
      </div>
    </div> 
 </div>
</section>
