.Zapier{
    font-size: 2rem;
    color: black;

}
h1{
    color: #ff4f00;
    font-weight: 700;

}
h4,h5 ,h6 ,p{
   color: black;
    ;
}
@media only screen and (max-width: 992px) {
    .displayblock {
      display: none;
    }
    h1{
        font-size: 22px;
    }
    .Zapier{
        font-size: 20px;
    }
    .btn-Our-services {
      height: 2.5em;
      width: 8.3em;
    }
    .low-code , .Why-SmartSuite ,.why-openphone{
        text-align: center;
    }
   
    
  }
  

 