<section class="low-code py-5 bg-light ">
  <div class="container">
    <h1 class="text-center" data-aos="fade-left">Why Zapier ?</h1>

    <div class="row py-3 align-items-center justify-content-center">
      <div class="col-md-5">
        <h1 class="Zapier" data-aos="fade-right" data-aos-duration="1500">
          Transform Your Business <br />
          with No-code Automation
        </h1>
      </div>
      <div class="col-md-5" data-aos="fade-left" data-aos-duration="1500">
        <img
          src="../../assets/Images/zapier-experts-earth.png"
          alt=""
          class="w-100"
        />
      </div>
    </div>
    <div class="row py-2 align-items-center justify-content-center flex-column-reverse flex-lg-row flex-md-row">
      <div class="col-md-5" data-aos="fade-right" data-aos-duration="1000">
        <img
          src="../../assets/Images/certified_zapier_expert_badge.png"
          alt=""
          class="w-50"
        />
      </div>
      <div class="col-md-5" data-aos="fade-left" data-aos-duration="1500">
        <h6>
          Zapier is a powerful no-code automation tool that can transform your
          business. With Zapier, you can automate your work across 5,000+ apps,
          making it easier to move forward and accomplish your goals faster.
          Zapier supports more apps than any other platform, which means you can
          easily connect the tools you're already using and those you may need
          in the future. Whether you're looking to streamline workflows,
          eliminate repetitive tasks, or create powerful integrations, Zapier
          has you covered. By leveraging Zapier's no-code automation, you can
          save time, increase efficiency, and free up valuable resources to
          focus on what really matters—growing your business. So why wait? Sign
          up for Zapier today and start transforming your business with no-code
          automation.
        </h6>
      </div>
    </div>
  </div>
</section>
<section class="Why-SmartSuite py-5">
  <div class="container">
    <div class="d-flex align-items-center justify-content-center gap-4">
      <h1 class="Why-SmartSuite"  data-aos="fade-right">Why SmartSuite ?</h1>
    </div>
    <div class="row align-items-center justify-content-center">
      <div class="col-md-6" data-aos="fade-right" data-aos-duration="1500">
        <h4>
          SmartSuite can help you plan and manage all your team’s work in one
          place: Goals, Processes, Projects, Tasks, Doc’s, Chat, & more.
        </h4>
      </div>
      <div class="col-md-4" data-aos="fade-left" data-aos-duration="1500">
        <img
          src="../../assets/Images/smartsuite logo.png"
          alt=""
          class="rounded w-100"
        />
      </div>
    </div>

    <div class="row align-items-center justify-content-center gap-4">
      <div class="col-md-4" data-aos="fade-right" data-aos-duration="1500">
        <img
          src="../../assets/Images/SMS021_SocialGraphics_1.png"
          alt=""
          class="rounded w-100"
        />
      </div>
      <div class="col-md-6" data-aos="fade-left" data-aos-duration="1500">
       <h6>
        Your All-In-One Solution for Team Management
        SmartSuite is the ultimate platform for managing your team's work, including goals, processes, projects, tasks, documents, and chat. Increase productivity and collaboration with a single platform that empowers your team to work smarter, not harder.
        With SmartSuite, you can plan and manage all your team's work in one place, including goals, processes, projects, tasks, documents, chat, and more; by using a single platform for just about everything, you can save time, increase productivity, and empower your team to work the way they want to.
        Don't let fragmented tools and scattered workspaces slow your team down. Use SmartSuite to manage your team's work where they do their work, and watch productivity soar. Sign up for SmartSuite today and experience the ultimate all-in-one solution for team management.
        
       </h6> 
       
      </div>
    </div>
  </div>
</section>
<section class="why-openphone py-5">
 
  <div class="container">
    <h1 class="text-center" data-aos="fade-right">Why Open Phone ?</h1>

    <div class="row py-5 align-items-center justify-content-center gap-5">
      <div class="col-md-5">
          <h6>
            Call and text as a team, see your teammates’ activity, 
            and even problem-solve together in threads. With OpenPhone,
             your team can work together to support your customers with one seamless experience.
            Including Built-in features to grow your business by saving time by eliminating busywork, 
            spotting trends with powerful analytics, coaching team calls and conversations¸ customizing your phone numbers, 
            designing your ideal call flow and scaling your phone system in seconds.
          </h6>
      </div>
      <div class="col-md-5">
         <img src="../../assets/Images/OP_Full_Vertical_Secondary_Purple.png" alt="" class="w-100">
      </div>

    </div>
  </div>
</section>
