// @import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Aclonica&family=Alfa+Slab+One&family=Carter+One&family=Cinzel+Decorative&family=IBM+Plex+Mono:ital,wght@1,200&family=Indie+Flower&family=Kurale&family=Lilita+One&family=Poppins:wght@200;300&family=Rubik+Mono+One&display=swap");

// @import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Aclonica&family=Alfa+Slab+One&family=Carter+One&family=Cinzel+Decorative&family=IBM+Plex+Mono:ital,wght@1,200&family=Indie+Flower&family=Kurale&family=Lilita+One&family=Poppins:wght@200;300&family=Quicksand:wght@300&family=Rubik+Mono+One&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Aclonica&family=Alfa+Slab+One&family=Carter+One&family=Cinzel+Decorative&family=IBM+Plex+Mono:ital,wght@1,200&family=Indie+Flower&family=Kurale&family=Lilita+One&family=Poppins:wght@200;300&family=Quicksand:wght@300&family=Rubik+Mono+One&family=Sono&display=swap");
body {
  font-family: "Poppins", sans-serif;
}
* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  box-sizing: border-box;
  ul {
    padding: 0px;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Aclonica&family=Alfa+Slab+One&family=Carter+One&family=Cinzel+Decorative&family=IBM+Plex+Mono:ital,wght@1,200&family=Indie+Flower&family=Kurale&family=Lilita+One&family=Poppins:wght@200;300&family=Quicksand:wght@300&family=Rubik+Mono+One&family=Sono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Aclonica&family=Alfa+Slab+One&family=Carter+One&family=Cinzel+Decorative&family=IBM+Plex+Mono:ital,wght@1,200&family=Indie+Flower&family=Kurale&family=Lilita+One&family=Poppins:wght@200;300&family=Quicksand:wght@300&family=Rubik+Mono+One&family=Sono&family=Sriracha&display=swap");
